{% extends "bootstrap/base.html" %}
{% block title %}UserRegister{% endblock title %}
{% block content %}
<div class="container">
    <!-- 用來接後端傳來的flash-message -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <!-- 弄一個x的button，點擊之後讓訊息消失，可參考bootstrap說明 -->
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
   
</div>
{% endblock content %}